
<nav class="navbar navbar-expand-lg navbar-light justify-content-right">
    <ul class="navbar-nav">
        <li class="nav-item">

            <a class="navbar-brand" href="#" id="movie-style">
                <h2> STOCKMARKET </h2>
            </a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li> <button type="button" class="btn btn-info btn-lg" (click)="back()"><i class="fa fa-home"
                        aria-hidden="true"></i> HOME</button></li>
            <li> &nbsp;&nbsp;</li>
            <li><button type="button" class="btn btn-info btn-lg" (click)="login()"><i class="fa fa-sign-in"
                        aria-hidden="true"></i> LOGIN</button></li>
        </ul>
    </div>

</nav>

<div class="container">
<div class="form-row">
    <div class="form-group col-lg-3 col-md-12 col-sm-12">
    </div>
    <div class="form-group col-lg-5 col-md-12 col-sm-12 border p-2">
        <h2 id="signup-status">Signup</h2>



        <form [formGroup]="userForm" (submit)="send(userForm)">

            <div class="form-row">
                <div class="form-group col col-lg-12 col-md-6 col-sm-12 col-12">
                    <label for="userName" id="white-status">User name</label><span id="red-status">*</span>
                    <span [style.visibility]="'hidden'">d</span>
                    <span *ngIf="!userForm.get('userName').valid && userForm.get('userName')?.touched"
                        id="red-status">
                        Please enter valid User name
                    </span>
                    <input 
                        type="text" 
                        placeholder="Enter User Name" 
                        class="form-control" 
                        formControlName="userName"
                        [ngClass]="{'border border-danger': (userForm.get('userName').touched && !userForm.get('userName').valid),
                                                    'border border-success': (userForm.get('userName').touched && userForm.get('userName').valid)}"
                        id="userName" 
                        name="userName" />
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col col-lg-12 col-md-6 col-sm-12 col-12">
                    <label for="email" id="white-status">Email</label><span id="red-status">*</span>
                    <span *ngIf="!userForm.get('email').valid && userForm.get('email')?.touched"
                        id="red-status">
                        Please enter valid email
                    </span>
                    <input 
                        type="text" 
                        placeholder="Enter email" 
                        class="form-control" 
                        [ngClass]="{'border border-danger': (userForm.get('email').touched && !userForm.get('email').valid),
                                                                            'border border-success': (userForm.get('email').touched && userForm.get('email').valid)}"
                        formControlName="email"
                        id="email" 
                        name="email" />
                </div>
            </div>

            <div class="form-row">

                <div class="form-group col col-lg-12 col-md-6 col-sm-12 col-12">
                    <label for="mobileNumber" id="white-status">Mobile Number</label><span
                        id="red-status">*</span>
                    <span *ngIf="!userForm.get('mobileNumber').valid && userForm.get('mobileNumber')?.touched"
                        id="red-status">
                        Please enter valid mobile Number
                    </span>
                    <input 
                        type="number" 
                        placeholder="Enter mobileNumber" 
                        class="form-control"
                        [ngClass]="{'border border-danger': (userForm.get('mobileNumber').touched && !userForm.get('mobileNumber').valid),
                                                    'border border-success': (userForm.get('mobileNumber').touched && userForm.get('mobileNumber').valid)}"
                        formControlName="mobileNumber" 
                        id="mobileNumber" 
                        name="mobileNumber" />
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col col-lg-12 col-md-6 col-sm-12 col-12">
                    <label for="password" id="white-status">Password</label><span id="red-status">*</span>
                    <span [style.visibility]="'hidden'">d</span>
                    <span *ngIf="!userForm.get('password').valid && userForm.get('password')?.touched"
                        id="red-status">
                        Please enter valid password
                    </span>
                    <input 
                        type="password" 
                        placeholder="Enter Password" 
                        class="form-control"
                        [ngClass]="{'border border-danger': (userForm.get('password').touched && !userForm.get('password').valid),
                                                                            'border border-success': (userForm.get('password').touched && userForm.get('password').valid)}"
                        formControlName="password" 
                        id="password" 
                        name="password" />
                </div>
            </div>
            <div id="red-status">Mandatory(*)</div>

            <button type="submit" class="btn btn-danger">Signup</button>
        </form>
    </div>
</div>
</div>